---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Page Not Found">
  <main class="content cf pa3 pa4-m pa5-l mw9 center">
    <div class="fr w-100 w-80-l">
      <h1 class="f2 f1-l lh-title mt0">Page not found</h1>
      <p class="f5 mt0 lh-copy measure-wide">Sorry, but the page you were looking for does not exist.</p>
      <p class="f5 mt0 lh-copy measure-wide"><a class="link black-90 hover-folio-orange" href="/">&#x21b3; <span class="bb b-folio-orange">Go home</span></a></p>
    </div>
  </main>
</Layout>
