---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <main class="content cf pa3 pa4-m pa5-l mw9 center">
    <div class="fr w-100 w-80-l">
      <p class="f6 black-40">About</p>
      <h1 class="f2 f1-l lh-title mt0">Hi</h1>
      <p class="f5 mt0 mb4 measure-wide lh-copy">I'm Peter Thomas a Product Designer working in London.</p>
    </div>
    <div class="fr w-100 w-80-l mv2">
      <p class="f5 mt0 lh-copy measure-wide">I lead design at Geckoboard, previously I was a product designer at Huddle.</p>
      <p class="f5 mt0 lh-copy measure-wide">I've spent 10 years working on business tools, small business and big brands.</p>
      <p class="f5 mt0 lh-copy measure-wide">I work on end-to-end design, from user research and feature discovery to design strategy, exploration, prototyping, interface design, testing and implementation.</p>
      <p class="f5 mt0 lh-copy measure-wide">I have experience hiring, managing and mentoring teams as well as establishing working processes.</p>
      <p class="f5 mt0 lh-copy measure-wide">I enjoy thinking about how teams do great work, design systems, prototyping, collaboration, data visualization, calm technology and 🌲 the woods.</p>
    </div>
    <div class="fr w-100 w-80-l mv4">
      <p class="f5 mt0 lh-copy measure-wide"><a href="mailto:peter.thomas@madeforthe.net" class="link black-90 bb b-folio-orange hover-folio-orange">peter.thomas@madeforthe.net</a></p>
    </div>
  </main>
</Layout>
