---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Clicker — Case study" bodyClass="sans-serif near-black bg-white page">
  <main class="content cf pa3 pa4-m pa5-l mw9 center">
    <div class="fr w-100 w-80-l cf">
      <p class="f6 black-40">Geckoboard Hack Week</p>
      <h1 class="f2 f1-l lh-title mt0">Clicker</h1>
      <p class="f5 mt0 mb4 mb5-ns measure-wide lh-copy">For the first ever Geckoboard "Hack Week" we wanted to imagine a new way for our customers to interact with their TV dashboards.</p>
    </div>
    <div class="fr w-100 w-80-l mv4 cf">
      <p class="f6 black-40">Background</p>
      <p class="f5 mt0 mb3 measure-wide lh-copy">Geckoboard customers are more successful when they choose to view dashboards on a TV screen, usually wall mounted in the office. Big screens are a great way to communicate, they mean your data is always visible and the data isn't lost in the noise of email, slack etc. They are also non-interactive, which means that i'd often similar requests around the office.</p>
      <p class="f5 mt0 mb3 measure-wide lh-copy i">"I quickly want to check a different dashboard"</p>
      <p class="f5 mt0 mb3 measure-wide lh-copy i">"I need to share a dashboard with my team"</p>
      <p class="f5 mt0 mb3 measure-wide lh-copy i">"Have you seen the MRR this month? It's on the company dashboard"</p>
      <p class="f5 mt0 mb4 mb5-ns measure-wide lh-copy">For the first ever Geckoboard "Hack Week" we wanted to imagine a new way to interact with our TV dashboards.</p>
    </div>
    <img src="/img/case-studies/clicker/dash-on-wall-2.jpeg" class="db w-80-ns w-100 center" alt="clicker system"/>
    <p class="f6 black-40 mv4 tc mb4 mb5-ns">Hack week pitches</p>
    <div class="fr w-100 w-80-l mv4 cf">
      <p class="f6 black-40">TV's use remotes, why can't Geckoboard?</p>
      <p class="f5 mt0 mb4 mb5-ns measure-wide lh-copy">I put together a proposal and formed a team of 3 engineers and myself. We kicked off the project with a quick design exercise. We used a "How might we" session to uncover concepts to potentially build. We sketched ideas for user journey's, UI concepts and the technical approach. We had one week to build a product to demo to the rest of the company! Let's go!</p>
    </div>
    <img src="/img/case-studies/clicker/team.jpeg" class="db w-80-ns w-100 center pv4" alt="clicker team at work"/>
    <div class="fr w-100 w-80-l mv4 cf">
      <p class="f6 black-40">Goals</p>
      <p class="f5 mt0 mb4 mb5-ns measure-wide lh-copy">We agreed some experience goals early in the project, these would help keep us on track and focussed.</p>
      <p class="f5 fw6 mt0 mb3 measure-wide lh-copy">1. Behaves like a remote. The user's attention should be on the big screen when selecting dashboards, not the phone</p>
      <p class="f5 fw6 mt0 mb3 measure-wide lh-copy">2. Feels like a remote. Performance needs to feel responsive and latency free</p>
      <p class="f5 fw6 mt0 mb3 measure-wide lh-copy">3. Make use of gestural interactions</p>
      <p class="f5 fw6 mt0 mb3 measure-wide lh-copy">4. Be secure. The app should require a user to login - security is important to us and our customers</p>
    </div>
    <div class="fr w-100 w-80-l mv4 cf">
      <p class="f6 black-40">Insights</p>
      <p class="f5 mt0 mb4 mb5-ns measure-wide lh-copy">We understood how we used dashboards and TV screens but needed data to see how customer usage. After some digging we learnt a majority of customers have more dashboards than TV screens to display them on. Great! This means our tool could really help beyond our own use case.</p>
    </div>
    <div class="fr w-100 w-80-l mv4 cf">
      <p class="f6 black-40">User journey</p>
      <p class="f5 mt0 mb4 mb5-ns measure-wide lh-copy">I mapped out the user journey for the app. We're dealing with interaction between to 2 different devices so we needed to make sure we understood the different states each device needed to handle and how they sync up. I wanted the app to feel super simple, so mapping out the entire app helped reveal where complexity could be reduced.</p>
    </div>
    <img src="/img/case-studies/clicker/user-journey.png" class="db w-80-ns w-100 center" alt="clicker system"/>
    <p class="f6 black-40 mv4 tc mb4 mb5-ns">Mapped out model for the product</p>
    <div class="fr w-100 w-80-l mv4 cf">
      <p class="f6 black-40">Prototyping</p>
      <p class="f5 mt0 mb4 mb5-ns measure-wide lh-copy">I began designing and prototyping the app while the rest of the team worked on a technical proof of concept. Prototyping in parallel with engineers was a great way to discover constraints and opportunities as a team.</p>
    </div>
    <img src="/img/case-studies/clicker/process.png" class="db w-80-ns w-100 center" alt="clicker app screens"/>
    <p class="f6 black-40 mv4 tc mb4 mb5-ns">Design exploration and prototyping using Sketch and Principle</p>
    <div class="fr w-100 w-80-l mv4 cf">
      <p class="f6 black-40">Refining</p>
      <p class="f5 mt0 mb4 mb5-ns measure-wide lh-copy">After lots of learning through the prototyping I moved the designs to a higher fidelity and began working on the interaction design using Principle. I choose this tool as I was familiar with it and wanted to prototype the gestures and make the interactions feel right on the device. I new testing the app of a mobile device was going to be the only way to get a real sense of how well the design was working, Principle has a simple mirroring tool that allows for this. The rest of the team where making amazing progress on the backend and had moved from prototype to working with the real Geckoboard application.</p>
    </div>
    <div class="mw9 center ph3-ns">
      <div class="cf ph2-ns pv4">
        <div class="fl w-100 pv4">
          <video class="db center w-80 w-20-ns pa3 ba b--light-gray br4 shadow-2" autoplay loop>
            <source src="/img/case-studies/clicker/prototype-mac.mp4" alt="Video walkthrough of the Clicker app prototype"/>
          </video>
          <p class="f6 black-40 mv4 tc mb4 mb5-ns">Clicker prototype</p>
        </div>
      </div>
    <div class="fr w-100 w-80-l mv4 cf">
      <p class="f6 black-40">Testing</p>
      <p class="f5 mt0 mb4 mb5-ns measure-wide lh-copy">I ran some hallway tests on the prototype iterating over the flow and tweaking gestures and making sure the login was useable. Based on feedback I added some lightweight onboarding to summarise the key benefits, this didn't make it into the demo as time was ticking away!</p>
    </div>
    <video class="db w-60-ns w-100 center br2" controls loop>
      <source src="/img/case-studies/clicker/clicker-demo.mp4" alt="Clicker demo"/>
    </video>
    <p class="f6 black-40 mv4 tc mb4 mb5-ns">Demo of the final working version</p>
    <div class="fr w-100 w-80-l mv4 cf">
      <p class="f6 black-40">Outcome</p>
      <p class="f5 mt0 mb4 mb5-ns measure-wide lh-copy">In a week we managed to design and build a mobile web app to change a dashboard being displayed on a TV turning your mobile into a remote control. We presented the project on the Friday demoing the product and telling the story of it's creation. Clicker won the hack week against some other incredible projects from the rest of the teams. We're hoping to continue working on the project during our bi-weekly innovation time and to use it internally.</p>
    </div>
    <div class="fr w-100 w-80-l mv4">
      <p class="f5 mt0 lh-copy measure-wide">
        <a class="link black-90 hover-folio-orange" href="/work">&#x21b3; <span class="bb b-folio-orange">More work</span></a>
      </p>
    </div>
  </main>
</Layout>
