---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Data visualization — Overview" bodyClass="sans-serif near-black bg-white page">
  <main class="content cf pa3 pa4-m pa5-l mw9 center">
    <div class="fr w-100 w-80-l cf">
      <p class="f6 black-40">Overview</p>
      <h1 class="f2 f1-l lh-title mt0">Data visualization</h1>
      <p class="f5 mt0 mb4 mb5-ns measure-wide lh-copy">Since joining Geckoboard I have been immersed in the world of data and data visualization. One of my motivations for joining the company was to learn how to work with data and how to design for it. Our dashboards are designed to be viewed on big screen tv's so visualizations need to be simple and glanceable but still highly accurate. As a business we also wanted to explore visualizations for our mobile app and concepts for devices like the apple watch where visualizations would be viewed at much closer proximity.</p>
    </div>
    <div class="fr cf mw9 center ph3-ns mt4 mb4 mb5-ns">
      <div class="cf ph2-ns">
        <div class="fl w-100 w-50-ns pa2">
          <img src="/img/case-studies/visualizations/dark.png" class="db br2 shadow-2 b--near-black" alt="Dark theme dashboard"/>
          <p class="f6 black-40 mv4 tc mb4 mb5-ns">Dark theme dashboard</p>
        </div>
        <div class="fl w-100 w-50-ns pa2">
          <img src="/img/case-studies/visualizations/light.png" class="db br2 shadow-2 b--gray" alt="Light theme dashboard"/>
          <p class="f6 black-40 mv4 tc mb4 mb5-ns">Light theme dashboard</p>
        </div>
      </div>
    </div>
    <section>
      <img src="/img/case-studies/visualizations/viz-exploration.png" class="db w-80 center" alt="Visualization exploration"/>
      <p class="f6 black-40 mv4 tc mb4 mb5-ns">Visualization exploration</p>
    </section>
    <section>
      <img src="/img/case-studies/visualizations/phone.png" class="db w-80 center" alt="iPhone app"/>
      <p class="f6 black-40 mv4 tc mb4 mb5-ns">iOS app</p>
    </section>
    <div class="mw9 center ph3-ns">
      <div class="cf ph2-ns pv4">
        <div class="fl w-100 pv4">
          <video class="db center w-80 w-20-ns pa3 ba b--light-gray br4 shadow-2" autoplay loop preload>
            <source src="/img/case-studies/visualizations/fullscreen-widget.mp4" alt="Mobile prototype"/>
          </video>
          <p class="f6 black-40 mv4 tc mb4 mb5-ns">Mobile prototype exploration</p>
        </div>
      </div>
    <section>
      <img src="/img/case-studies/visualizations/watch-concept-sheet.png" class="db w-80 center mt4" alt="Apple watch concepts"/>
      <p class="f6 black-40 mv4 tc mb4 mb5-ns">Apple watch concepts</p>
    </section>
    <div class="fr cf mw9 center ph3-ns mt4 mb4 mb5-ns">
      <div class="cf ph2-ns">
        <div class="fl w-100 w-50-ns pa2">
          <img src="/img/case-studies/visualizations/visualizations.gif" class="db" alt="Dashboard visualization designs"/>
          <p class="f6 black-40 tc mb4 mb5-ns">Dashboard visualization designs</p>
        </div>
        <div class="fl w-100 w-50-ns pa2">
          <img src="/img/case-studies/visualizations/watch.gif" class="db" alt="Watch visualization designs"/>
          <p class="f6 black-40 tc mb4 mb5-ns">Watch visualization designs</p>
        </div>
      </div>
    </div>
    <div class="fr w-100 w-80-l mv4">
      <p class="f5 mt0 lh-copy measure-wide">
        <a class="link black-90 hover-folio-orange" href="/work">&#x21b3; <span class="bb b-folio-orange">More work</span></a>
      </p>
    </div>
  </main>
</Layout>
