---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Peter Thomas">
  <main class="content mw9">
    <section class="dt w-100 border-box pa3 pv6 ph4-ns f2 f1-ns">
      <p>Product design &amp; leadership.</p>
      <p>Currently leading design at <a href="https://www.geckoboard.com" class="link dim"><span style="color:#8dc63f">Geckoboard</span></a> in London.</p>
    </section>
    <div class="center ph3-ns">
      <div class="cf">
        <div class="fl w-100-m w-third-ns pa3">
          <span class="black-40 f7">Case study</span>
          <h3>Building widgets</h3>
          <p>Creating simple visualizations from complex data.</p>
          <a class="link black-90 hover-folio-orange" href="/building-widgets">&#x21b3; <span class="bb b-folio-orange">Read more</span></a>
        </div>
        <div class="fl w-100-m w-third-ns pa3">
          <span class="black-40 f7">Case study</span>
          <h3>Clicker - A hack week project</h3>
          <p>TV's have remote controls, why can't TV dashboards?</p>
          <a class="link black-90 hover-folio-orange" href="/clicker">&#x21b3; <span class="bb b-folio-orange">Read more</span></a>
        </div>
        <div class="fl w-100-m w-third-ns pa3">
          <span class="black-40 f7">Overview</span>
          <h3>Data visualizations</h3>
          <p>Designing data visualizations from big screen to small.</p>
          <a class="link black-90 hover-folio-orange" href="/data-visualization">&#x21b3; <span class="bb b-folio-orange">Read more</span></a>
        </div>
      </div>
    </div>
  </main>
</Layout>
