---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Work" bodyClass="sans-serif near-black bg-white page">
  <main class="content cf pa3 pa4-m pa4-l mw9 center">
    <div class="fr w-100 w-80-l bb mb4 b--light-gray">
      <p class="f6 black-40">Product</p>
      <a href="https://geckoboard.com" class="link dim gecko-green">
        <h1 class="f2 f1-l lh-title mt0 dim">Geckoboard</h1>
      </a>
      <p class="f5 mt0 mb4 measure-wide lh-copy black-90">I currently lead design at Geckoboard, a TV dashboard product helping businesses visualise and communicate their most important metrics.</p>
      <a class="db link black-90 hover-folio-orange mb4" href="https://geckoboard.com">&#x21b3; <span class="bb b-folio-orange">Visit</span></a>
    </div>
    <div class="fr w-100 w-80-l">
      <div class="cf">
        <div class="fl w-100 bb mb4 b--light-gray">
          <p class="black-40 f6">Case study</p>
          <a href="/building-widgets" class="link dim folio-orange">
            <h1 class="f2 f1-l lh-title mt0 dim">Building widgets</h1>
          </a>
          <p class="f5 mt0 mb4 measure-wide lh-copy black-90">Creating simple visualizations from complex data.</p>
          <a class="db link black-90 hover-folio-orange mb4" href="/building-widgets">&#x21b3; <span class="bb b-folio-orange">Read more</span></a>
        </div>
        <div class="fl w-100 bb mb4 b--light-gray">
          <p class="black-40 f6">Case study</p>
          <a href="/clicker" class="link dim green">
            <h1 class="f2 f1-l lh-title mt0 dim">Clicker</h1>
          </a>
          <p class="f5 mt0 mb4 measure-wide lh-copy black-90">TV's have remote controls, why can't TV dashboards</p>
          <a class="db link black-90 hover-folio-orange mb4" href="/clicker">&#x21b3; <span class="bb b-folio-orange">Read more</span></a>
        </div>
        <div class="fl w-100 bb mb4 b--light-gray">
          <p class="black-40 f6">Overview</p>
          <a href="/data-visualization" class="link dim pink">
            <h1 class="f2 f1-l lh-title mt0 dim">Data visualization</h1>
          </a>
          <p class="f5 mt0 mb4 measure-wide lh-copy">Designing data visualizations from big screen to small.</p>
          <a class="db link black-90 hover-folio-orange mb4" href="/data-visualization">&#x21b3; <span class="bb b-folio-orange">Read more</span></a>
        </div>
      </div>
    </div>
    <div class="fr w-100 w-80-l bb mb4 b--light-gray">
      <p class="f6 black-40">Product</p>
      <a href="https://huddle.com" class="link dim huddle-blue">
        <h1 class="f2 f1-l lh-title mt0 dim">Huddle</h1>
      </a>
      <p class="f5 mt0 mb4 measure-wide lh-copy black-90">Huddle is an enterprise content collaboration tool. As a product designer I worked to define, document and develop Huddle's design language across web, mobile and desktop. I designed and built UI prototypes and iterated based on user feedback, using HTML, CSS and Javascript to complete finished visual designs and collaborated with engineers to implement UI and document components and patterns.</p>
      <a class="db link black-90 hover-folio-orange mb4" href="https://huddle.com">&#x21b3; <span class="bb b-folio-orange">Visit</span></a>
    </div>
    <div class="fr w-100 w-80-l bb mb4 b--light-gray">
      <p class="f6 black-40">Design &amp; Build</p>
      <span class="link dim ma-gold">
        <h1 class="f2 f1-l lh-title mt0">Miscellaneous Adventures</h1>
      </span>
      <p class="f5 mt0 mb4 measure-wide lh-copy black-90">Miscellaneous Adventures is Andrew Groves and Emma Hughes. They make goods, create imagery and teach workshops inspired by a life lived outdoors. I worked with Andrew's branding to design and build a home for Miscellaneous Adventures. The project needed a focus on brand and imagery, a simple shopping experience for their products and workshops and the "Logbook" — a library of content focussed on the outdoors, cookery, camping and craft. I build the project on using Shopify.</p>
    </div>
    <div class="fr w-100 w-80-l">
      <p class="f6 black-40">Design &amp; Build</p>
      <a href="https://clothandnotions.co.uk" class="link dim cn-claret">
        <h1 class="f2 f1-l lh-title mt0 dim">Cloth and Notions</h1>
      </a>
      <p class="f5 mt0 mb4 measure-wide lh-copy black-90">I worked with Cloth and Notions, a new haberdashery company, to design an identity, online store and marketing materials. Cloth and Notions wanted a modern brand with a nod to the history of haberdashery and tradition of sewing and making. The project is built on using Shopify.</p>
      <a class="db link black-90 hover-folio-orange mb4" href="https://clothandnotions.co.uk">&#x21b3; <span class="bb b-folio-orange">Visit</span></a>
    </div>
  </main>
</Layout>
